:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="dark"] {
  --background: #121212;
  --foreground: #ffffff;
}

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto; /* Allow scroll on mobile */
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  html,
  body {
    overflow-y: hidden; /* Prevent page scroll on desktop */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

html[data-theme="light"] {
  color-scheme: light;
}
